<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt odio eligendi iste perspiciatis reprehenderit temporibus, quis eum porro nisi quidem, est necessitatibus repellat aliquid delectus, vero perferendis magnam dolorem!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt odio eligendi iste perspiciatis reprehenderit temporibus, quis eum porro nisi quidem, est necessitatibus repellat aliquid delectus, vero perferendis magnam dolorem!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nesciunt odio eligendi iste perspiciatis reprehenderit temporibus, quis eum porro nisi quidem, est necessitatibus repellat aliquid delectus, vero perferendis magnam dolorem!</p>
        </ul>
    </div>
</div>
