<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="60"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="400"
    ></circle-progress>
    </div>
</div>
